paramiko~=2.7.1
msgpack~=1.0.0
pickledb
PyYAML
pyzmq~=19.0.1
numpy
Flask
pysftp
colorama~=0.4.3
pillow
matplotlib~=3.4.1
fire~=0.4.0
psutil
pyserial
opencv-contrib-python


netifaces~=0.11.0
opencv-python~=4.2.0.34